:root{
    --font-family-majalla:'majalla ';
    --font-family-majalla:'majallab';
}

@font-face{
    font-family:'majalla';
    src: url('../font/majalla.ttf');
}
@font-face{
    font-family:'majallab';
    src: url('../font/majallab.ttf');
}
body{
    direction: rtl;
    font-family: var(--font-family-majalla) !important;
}
/* bold */
.majallab56{ font-family: var(--font-family-majallab) !important; font-size: 56px !important;}
.majallab40{ font-family: var(--font-family-majallab) !important; font-size: 40px !important;}
.majallab28{ font-family: var(--font-family-majallab) !important; font-size: 28px !important;}
.majallab36{ font-family: var(--font-family-majallab) !important; font-size: 36px !important;}
.majallab24{ font-family: var(--font-family-majallab) !important; font-size: 24px !important;}



/* not bold */
.majalla18{ font-family: var(--font-family-majalla) !important; font-size: 18px !important;}
.majalla32{ font-family: var(--font-family-majalla) !important; font-size: 32px !important;}
.majalla24{ font-family: var(--font-family-majalla) !important; font-size: 24px !important;}
.majalla20{ font-family: var(--font-family-majalla) !important; font-size: 20px !important; }
.majalla28{ font-family: var(--font-family-majalla) !important; font-size: 28px !important; }


/* start hero-section */
.hero-section ,.bg-body ,.box-form{
  background-image: url("../her2.png");
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: 100%;
}
.bg-body{
  background-image: url("../Groubg.png");
  height: auto;
}
.padd{  
  padding-top: 150px;
  padding-bottom:300px;
}
.hero-text {
  font-size: 24px;
  margin-top: 20px;
}
.box-icon img {
  width: 50px;
}
.blod-none {
  font-weight: none !important;
}
.shadw {
  text-shadow: 6px 10px 21px #007c2e;
}

.black {
  background-color: white;
  width: 80%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgb(231, 231, 231);
}
.mr,
.black {
  margin-right: 10%;
}
.dd img {
  width: 100%;
  height: 600px;
}

.dd {
  position: relative;
}
.dds img {
  width: 150px;
}
.size {
  font-size: 13px;
  font-weight: bold;
}
.but button {
  width: 100%;
}
.hover:hover{
    background-color: #8fd9d9 !important;
    color: white !important;
    border: none;
}
/* End hero-section */
.box-input input[ type = text] , 
.box-input input[ type = email]{
    background-color: #E9E9E9;
    outline: none !important;
    border: none !important;
    padding: 10px;
    margin-bottom: 10px;
}
.blod-none{
    padding: 10px !important;
    background-color: #0071B1 !important;
}
.img-hero{
    width: 180px;
}

.img-hero img{
    width: 100%;
}

/* the start footers */
.box-input-resop{
  display: flex;
  justify-content: space-around;
}
.footer-content{
  width: 37%;
}
.w-size{
    width: 80%;
    padding: 10px;
}

.box-form{
     background-image: url("../form.png");
     background-position: 100px 50px;
  height: auto;
    
}
.box-book img{
    width: 100%;
}
/* the end footers */


/* the style numbre  */
/* .wraper {
  margin: 40px auto;
  max-width: 600px;
  text-align: center;
} */

.btn-wraper {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-wraper li {
  /* display: inline-block; */
  margin-right: 50px;
  margin:40px ;
}

.triangle-btn {
  position: relative;
}

.triangle-btn a {
  display: inline-block;
  background-color: #0071B1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFD209FA', endColorstr='#FF4F81D4');
  background-image: -owg-linear-gradient(left, #0071B1 1%, #0071B1 100%);
  background-image: -webkit-linear-gradient(left, #0071B1 1%, #0071B1 100%);
  background-image: -moz-linear-gradient(left, #0071B1 1%, #0071B1 100%);
  background-image: -o-linear-gradient(left, #0071B1 1%, #0071B1 100%);
  background-image: linear-gradient(left, #0071B1 1%, #0071B1 100%);
  padding: 9px 19px 15px 8px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  color: #fff;
  text-decoration: none;
  position: relative;
  border-radius: 10px;
  
}



.triangle-btn:hover {
  overflow: visible;
}

.triangle-btn:hover:before {
  overflow: visible;
  -webkit-animation: circle-1 1s linear infinite;
  animation: circle-1 1s linear infinite;
}

@-webkit-keyframes circle-1 {
  100% {
    right: -15px;
    opacity: 0.1;
  }
}

@keyframes circle-1 {
  100% {
    right: -15px;
    opacity: 0.1;
  }
}
.w-size{
  width: 80% !important;
}
.showmobile{
  display: none;
}

@media only screen and (max-width: 790px) {
     .hero-section {
    height: auto;
  }
  .black {
    width: 100%;
    text-align: center;
  }
  .black {
    margin-right: 0%;
  }
  .footer-content{
    padding-top: 90px ;
    width: 90% !important;
  }
  .footer-section{
    height: auto;
    overflow: hidden;
  }
  .box-input-resop{
    flex-direction: column;
    width: 100%;
  }
  .w-size{
  width: 111%;
  padding: 15px;
  margin-bottom: 10px;
  }
  .box-form{
text-align: center;
  }
  /* .none img{
      display: none !important;
  } */
   .none{
       text-align: center;
   }

.showmobile{
  display: inline;
}
.majallab56{ font-size: 44px !important; padding-bottom: 30px }
.majallab40{ font-family: var(--font-family-majallab) !important; font-size: 40px !important;}
.majallab28{ font-family: var(--font-family-majallab) !important; font-size: 25px !important;}
.majallab36{ font-family: var(--font-family-majallab) !important; font-size: 30px !important;}
.majallab24{ font-family: var(--font-family-majallab) !important; font-size: 20px !important;}

.triangle-text {
  margin-left: -15px !important;
}
/* not bold */
.majalla18{ font-family: var(--font-family-majalla) !important; font-size: 18px !important;}
.majalla32{ font-family: var(--font-family-majalla) !important; font-size: 22px !important;}
.majalla24{ font-family: var(--font-family-majalla) !important; font-size: 24px !important;}
.majalla20{ font-family: var(--font-family-majalla) !important; font-size: 20px !important; }
.majalla28{ font-family: var(--font-family-majalla) !important; font-size: 22px !important; }
.padd{
  display: none !important;
}
.w-size {
  width: 97% !important;
  margin-right: 13px;
}
.mob-img{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
 .mob-img img{
  width: 80%;
 }
 .size{
  margin-right : 13% ;
}
}